@media screen and (min-width: 1351px) {
    .blog__nav {
        top: 35px;
        left: 240px;
    }
}

@media screen and (max-width: 1200px) {
    .promo {
        background-position: left center;
    }
    .menu-list {
        display: none;
    }
    .menu__mobile {
        display: flex;
        gap: 0 20px;
    }
    .logo__img {
        width: 50px;
    }
    .nav {
        align-items: center;
    }
    .title {
        font-size: 64px;
    }
    .subtitle {
        font-size: 42px;
    }
    .subtitle-span {
        font-size: 32px;
    }
}

@media screen and (max-width: 969px) {
    .evo-white__inner::after {
        display: none;
    }
    .blog__nav {
        top: 35px;
        left: 0px;
    }
}

@media screen and (max-width: 820px) {
    .menu__btn {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 45px;
        height: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .menu__btn span {
        height: 3px;
        width: 100%;
        background-color: #fff;
        z-index: 10;
    }
    .menu__mobile {
        display: none;
    }
    .menu__mobile.menu--open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgba(54, 54, 54, 1);
        height: 100vh;
        z-index: 5;
        text-align: center;
        padding-top: 100px;
        margin: 0;
    }
    .menu-link {
        color: #fff;
        font-size: 3vh;
        display: block;
        padding: 20px 0;
    }
    .logo {
        z-index: 10;
    }
    .info__table {
        padding-left: 10px;
    }
    .info__part-textbox {
        display: block;
        padding-bottom: 15px;
    }
    .info__part {
        display: block;
    }
    .info__part--two .info__text,
    .info__part--three .info__text {
        min-width: 100%;
    }
    .info__part-img {
        width: 100%;
    }
    .info__part--three .info__text {
        margin-bottom: 25px;
    }
    .info__table {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .block__quotebox {
        display: block;
    }
    .blog__nav {
        top: 35px;
        left: 0px;
    }
    .blog__item-img {
        width: 100%;
    }
    .blog {
        margin-bottom: 50px;
    }
    .footer {
        padding: 50px 0;
    }
    .blog__slider {
        margin-bottom: 50px;
    }
    .evo-black {
        padding: 50px 50px;
    }
    .track__inner {
        padding: 50px;
    }
    .info__part {
        padding-top: 50px;
    }
}

@media screen and (max-width: 669px) {
    .evo-white__inner::before {
        display: none;
    }
    .evo-black__descr {
        display: block;
        text-align: center;
    }
    .evo-black__descr div {
        margin-bottom: 15px;
    }
    .evo-black__info {
        display: block;
    }
    .evo-black__inner::after {
        display: none;
    }
    .footer__top {
        display: block;
    }
    .social__list {
        justify-content: start;
    }
}

@media screen and (max-width: 560px) {
    .title {
        font-size: 48px;
    }
    .subtitle {
        font-size: 34px;
    }
    .subtitle-span {
        font-size: 26px;
    }
}

@media screen and (max-width: 480px) {
    .footer__bottom {
        display: block;
        text-align: center;
        padding: 20px 0;
    }
    .footer__logo {
        display: block;
        padding: 20px 0;
    }
}

@media screen and (max-width: 340px) {
    .title {
        font-size: 42px;
    }
    .subtitle {
        font-size: 30px;
    }
    .subtitle-span {
        font-size: 26px;
    }
}

@media screen and (max-width: 320px) {
    .menu-link {
        padding: 15px 0;
    }
}